.userpage-container {
  border-radius: 40px 40px 0 0;
  width: 400px;
  height: 640px;
  text-align: center;
  font-family: "DOSMyungjo";
  margin-bottom: 8px;
  z-index: 1;
}

.userpage-container .main-button {
  all: unset;
  margin-top: 40px;
  background-color: rgb(51, 51, 51);
  width: 280px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.star-display-container {
  height: 500px;
  width: 400px;
}

.person-planet {
  width: 80px;
  margin-top: 45px;
  position: absolute;
  transform: translate(calc(50vw - 50%), calc(230px - 50%));
  top: 0;
  left: 0;
  z-index: 1;
}

.star-display-container .display-star {
  font-family: "YdestreetB";
  height: 28px;
  display: flex;
  align-items: center;
  z-index: 4;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50vw;
  display: flex;
  align-items: center;
}

.star-display-container .display-star .star {
  display: flex;
  align-items: center;
  height: 28px;
  padding-top: 28px;
  z-index: 4;
  cursor: pointer;
  overflow: hidden;
}

.display-star#display-star-0 {
  color: #00ff00;
}
.display-star#display-star-1 {
  color: #00ffff;
}
.display-star#display-star-2 {
  color: #ffff00;
}
.display-star#display-star-3 {
  color: #ff00ff;
}
.display-star#display-star-4 {
  color: #ffffff;
}

.send-msg-button {
  all: unset;
  height: 60px;
  width: 210px;
  background-image: url("../img/send_msg.png");
  background-repeat: no-repeat;
  background-size: 210px 60px;
  text-align: center;
  cursor: pointer;
  z-index: 11;
}
.copy-url-button {
  all: unset;
  height: 90px;
  width: 210px;
  background-image: url("../img/share-link.png");
  background-repeat: no-repeat;
  background-size: 210px 90px;
  text-align: center;
  cursor: pointer;
}

.userpage-btn-container .mini-button {
  font-size: 12px;
}
/* .mini-button-container {
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin-top: 20px;
}

.mini-button {
  font-family: "DOSMyungjo";
  text-decoration: underline;
} */

.userpage-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userpage-container .btn-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 10px;
}

#textarea {
  display: none;
}
