@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";
/* background: #1a1a1a;
color: #00ff00; */

@font-face {
  font-family: "DOSMyungjo";
  src: url("./fonts/DOSMyungjo.ttf");
}
@font-face {
  font-family: "YdestreetL";
  src: url("./fonts/YdestreetL.ttf");
}
@font-face {
  font-family: "YdestreetB";
  src: url("./fonts/YdestreetB.ttf");
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "DOSMyungjo";
  all: unset;
  background-color: #1a1a1a;
  color: #00ff00;
}

button {
  all: unset;
  cursor: pointer;
}

.app-container {
  margin: auto;
  width: 400px;
  height: 640px;
}

.button-container .button-description {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}

.loading-container {
  margin: auto;
  width: 400px;
  height: 640px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: "DOSMyungjo";
}
.loading-container .main-img {
  margin-top: 194px;
}
